{% extends "base.html" %}
{% block title %}
User Login
{% endblock %}

{% block page_content %}
    <style>
        .alert {
            background-color: #f3f4f6;
            border-left: 4px solid #e53e3e;
        }
    </style>
    <div class="w-96 mx-auto bg-white p-6 mt-10 mb-10 rounded shadow-lg">
        <h1 class="text-2xl font-bold mb-6 text-center">User Login</h1>
        <!-- Alert for displaying messages -->
        <div id="alertMessage" class="hidden alert p-3 mb-6"></div>

        <form id="login-form" method="POST" action="/api/v1/login">
            {{ form.csrf_token }}
            <div class="mb-4">
                <label for="username" class="block text-gray-700">Username:</label>
                {{ form.username(class="w-full border border-gray-300 p-2", required=True) }}
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700">Password:</label>
                {{ form.password(class="w-full border border-gray-300 p-2", required=True) }}
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Login</button>
        </form>

	<script src = "{{ url_for('static', filename = 'js/authentication/login_user.js') }}"></script>
    </div>
{% endblock %}
