<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block scripts %}
		{{ moment.include_moment() }}
		{% endblock scripts%}
		<title>
			{% block title %}{% endblock title%} - {{app_name|title}}
		</title>

		{% block head %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
		{% endblock head %}
	</head>
	<body class="bg-gray-100 font-sans">
		{% block navbar %}
		<nav class="bg-blue-500 text-white py-4">
			<div class="container mx-auto flex justify-center items-center">
				<ul class="space-x-6 flex">
					<li><a href="/" class="text-white">Home</a></li>
					<li><a href="/about_us" class="text-white">About Us</a></li>
					{% if current_user.is_authenticated %}
					<li>
						<a class = "text-white"href="{{ url_for('profiles.dashboard')}}" >Dashboard</a>
					</li>
					<li>
						<a class = "text-white"href="{{ url_for('authentication.logout')}}" >Sign Out</a>
					</li>
					{% else %}
					<li>
						<a class = "text-white"href="{{ url_for('authentication.login')}}" >Sign In</a>
					</li>
					<li>
						<a class = "text-white"href="{{ url_for('registration.register_user')}}" >Register</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		{% endblock navbar %}

		{% block content %}
		{% block page_content %}{% endblock page_content %}
		{% endblock content %}

		{% block footer %}
		<footer class="bg-gray-900 text-white text-center py-4">
			<div class="container mx-auto">
				&copy; 2023 EchoTech Innovators. All rights reserved.
			</div>
		</footer>
		{% endblock footer %}
	</body>
</html>
